{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "quoteProps": "consistent"
}
